.side-menu {
    padding: 20px 15px 30px 30px;
    position: fixed;
    right: 0;
    top: 0;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    box-shadow: rgb(0, 0, 0, 0.2) -40vw 0px 0px;
    right: -100%;
    transition: 0.3s;
}

.side-menu.open {
    right: 0;
}

.side-menu .close-icon {
    margin: 4px 3px;
    align-self: flex-end;
    cursor: pointer;
}

.side-menu .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-menu .links li {
    cursor: pointer;
}

.side-menu .links a {
    margin-right: 7px;
    font-size: 17px;
    color: var(--Medium-Gray);
    text-wrap: nowrap;
    transition: 0.4s;
}

.side-menu .links a:hover {
    color: var(--Almost-Black);
}

.side-menu .nav-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.side-menu .nav-auth a {
    font-size: 17px;
    color: var(--Medium-Gray);
    text-wrap: nowrap;
    transition: 0.4s;
}

.side-menu .nav-auth a:hover {
    color: var(--Almost-Black);
}

.side-menu .nav-auth .register {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    border: 1px solid var(--Medium-Gray);
    border-radius: 10px;
}

.side-menu .nav-auth .register:hover {
    border-color: var(--Almost-Black);
}

.side-menu .inner-links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-menu .inner-links li {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.side-menu .inner-links li .icon {
    width: 30px;
}